body {
    padding: 0;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    border: 1px solid lightgray;
    width: 300px;
    background-color: lightgray;
}
ul li{
    padding: 2px;
    cursor: pointer;
}
.hide {
    visibility: hidden;
    display: none;
}

.notification {
    width: 200px;
    text-align: center;
    position: fixed;
    top: 100px;
    right: 10px;
    display: none;
}

input, select, option, textarea {
    outline: none;
}

input.w3-input:focus {
    border-bottom: 1.5px solid indigo;
}

input[type="text"]:disabled {
    background: white;
    color: gray;
}

.margin-auto {
    margin: auto;
}

.div-box {
    width: 500px;
}

.flex {
    display: flex;
}
