/* html {
    height: 100%;
} */

body {
    /* position: relative;
    background-image: url(../img/bu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 60px;
    min-height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0; */
}

a {
    text-decoration: none;
}

.mian-color, .mian-color a, .mian-color button {
    color: #014387;
}

.main-bg-color {
    background-color: #014387 !important;
    color: white !important;
}

.robo-font {
    font-family: 'Roboto', sans-serif;
}

.mont-font {
    font-family: 'Montserrat', sans-serif;
}

.ex-font {
    font-family: 'Exo 2', sans-serif;
}

.clearfix::after {
    clear: both;
}

/* Autocomplete Styles */

ul.ui-autocomplete {
    list-style-type: none;
    padding: 0;
    border: 1px solid lightgray;
    width: 300px;
    background-color: lightgray;
    max-height: 200px;
    overflow: scroll;
}

ul.ui-autocomplete li {
    padding: 2px;
    cursor: pointer;
}

span[role="status"] {
    display: none;
}

.hide {
    visibility: hidden;
    display: none;
}

.notification {
    width: 200px;
    text-align: center;
    position: fixed;
    top: 100px;
    right: 10px;
    display: none;
    z-index: 10;
}

a.w3-button, button.w3-button {
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
}

.w3-dropdown-hover button.w3-button {
    margin-right: 10px;
}

input, select, option, textarea {
    outline: none;
    border-radius: 4px;
}

.w3-btn {
    border-radius: 4px;
}

.w3-btn:hover {
    box-shadow: none !important;
    opacity: 0.8;
}

input.w3-input:hover, input.w3-input:focus, textarea.w3-input:hover, textarea.w3-input:focus, select:hover, select:focus {
    border: none;
    border: 1px solid #014387 !important;
}

input[type="text"]:disabled {
    background: white;
    color: gray;
}

.margin-auto {
    margin: auto;
}

.div-box {
    width: 500px;
}

.div-title {
    position: relative;
    margin-bottom: 6px;
}

.div-title h2 {
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
}

.div-title:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: solid 8px #014387;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}

.flex {
    display: flex;
}

.overlay-container {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 160px);
    background-image: url(../img/bu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: calc(100vh - 160px);
}

/* Login Input BG */

input#userEmailField {
    background-image: url('../img/user.png');
    background-size: 20px 20px;
    background-position: center right 18px;
    background-repeat: no-repeat;
}

input#userPasswordField {
    background-image: url('../img/pass.png');
    background-size: 20px 20px;
    background-position: center right 18px;
    background-repeat: no-repeat;
}

/* Another Button Style */

/* .btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    /* z-index: -1; */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */

.btn:before, .icon-heart:after, .icon-star:after, .icon-plus:after, .icon-file:before {
    font-family: FontAwesome;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Button 3 */

.btn-3 {
    background: #fcad26;
    color: #fff;
}

.btn-3:hover {
    background: #f29e0d;
}

.btn-3:active {
    background: #f58500;
    top: 2px;
}

.btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Button 3d */

.btn-3d {
    padding: 13px 60px 13px 120px;
    border-radius: 10px;
}

.btn-3d:before {
    background: #fff;
    color: #fcad26;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.btn-3d:after {
    width: 20px;
    height: 20px;
    background: #fff;
    z-index: 1;
    left: 55px;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-3d:active:before {
    color: #f58500;
}

.btn-3d:active {
    top: 0;
}

.btn-3d:active:after {
    left: 60px;
}

.icon-cog:before {
    content: "\f128";
} */