<div class="overlay-container">
    <div class="overlay">
        <div class="margin-auto chart-box">
            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font" style="float: left; margin-top: 8px;">{{title}}s</label>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-xlarge w3-circle w3-white circle-btn"
                    style="float: right;">+</button>
                <!-- <button class="w3-btn w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-edit"></i></button>
                    <button class="w3-btn w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-print"></i></button> -->
            </section>
            <div class="w3-card-4 table-container">
                <div class="ch-table-content">
                    <div class="w3-responsive">
                        <table class="w3-table-all chart-tables">
                            <thead>
                                <tr class="main-bg-color">
                                    <th>ID</th>
                                    <th>Nature</th>
                                    <th>Account Code</th>
                                    <th>Account Head</th>
                                    <th style="width: 120px;">Edit</th>
                                    <th style="width: 130px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="comAcc in comAccounts track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{comAcc.nature}}</td>
                                    <td>{{comAcc.accCode}}</td>
                                    <td>{{comAcc.accText}}</td>
                                    <td>
                                        <button class="w3-btn w3-blue">Edit</button>
                                    </td>
                                    <td>
                                        <button id="{{comAcc.$id}}" onclick="removeItem(event)" class="w3-btn w3-red">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="!load" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img src="img/loader.gif"
                                alt="Loading..." style="height: 25px; width: 25px;"></div>
                        <div id="nodata" ng-show="nodata" class="w3-pale-blue" style="padding: 12px; text-align: center;">No
                            Data Found!</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmDel" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom w3-card-4" style="width: 450px;">
                <header class="w3-container main-bg-color">
                    <span onclick="$js('confirmDel').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2>Confirm Delete?</h2>
                </header>
                <div class="w3-container">
                    <p>Deleting this account will not remove name from journal account name.</p>
                    <p>And no more suggestion is available for this account code until you create new one.</p>
                </div>
                <footer class="w3-container w3-white">
                    <p class="flex" style="justify-content: center;">
                        <button id="delAcBtn" class="w3-btn w3-red" style="margin-left: 20px; margin-right: 20px;">Delete</button>
                        <button onclick="$js('confirmDel').style.display='none'" class="w3-btn main-bg-color" style="margin-left: 20px; margin-right: 20px;">Cancel</button>
                    </p>
                </footer>
            </div>
        </div>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom" style="background-color: transparent;">
                <div class="div-box w3-light-gray w3-card-4 margin-auto" style="display: block;">
                    <header class="w3-container main-bg-color div-title">
                        <span onclick="exitModel();clearAccFields();" class="w3-button w3-display-topright">&times;</span>
                        <h2>{{title}}</h2>
                    </header>
                    <div class="w3-container">
                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:130px; padding: 10px;">
                                <label class="w3-medium">Nature</label>
                            </div>
                            <div class="w3-rest">
                                <select ng-model="natureSelection" id="accNature" class="w3-select w3-border" name="option">
                                    <option value="" disabled selected>Choose Nature</option>
                                    <option ng-repeat="(key, acc) in accounts track by $index" value="{{key}}">{{acc.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:130px; padding: 10px;">
                                <label class="w3-medium">Account Code</label>
                            </div>
                            <div class="w3-rest flex">
                                <section id="accCodeInit" ng-switch="natureSelection">
                                    <select ng-switch-when="EQTY" class="w3-select w3-border" style="width: 65px; color: gray;">
                                        <option value="SE">SE</option>
                                        <option value="RE">RE</option>
                                    </select>
                                    <input ng-switch-default class="w3-input w3-border" type="text" value="{{natureSelection}}"
                                        style="width: 65px; text-align: center" disabled>
                                </section>
                                <label style="padding: 8px;">-</label>
                                <input id="accCodeFirst" class="w3-input w3-border" maxlength="4" style="text-align: center; width: calc(100% - 180px);"
                                    onkeypress="numValidate(event)">
                                <label style="padding: 8px;">-</label>
                                <input id="accCodeSecond" class="w3-input w3-border" type="text" maxlength="2" style="width: 65px; text-align: center"
                                    onkeypress="numValidate(event)">
                            </div>
                        </div>
                        <div class="w3-row w3-section">
                            <div class="w3-col" style="width:130px; padding: 10px;">
                                <label class="w3-medium">Account Head</label>
                            </div>
                            <div class="w3-rest">
                                <textarea id="accTxt" class="w3-input w3-border" name="" rows="5"></textarea>
                            </div>
                        </div>
                        <p class="clearfix">
                            <button id="submitAccBtn" class="w3-btn main-bg-color" style="float: right;">Submit</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dbAccounts = null;
    lsSetJ('comAccounts', []);
    $js('submitAccBtn').addEventListener('click', function () {
        let accNatureCode = $js('accNature').options[$js('accNature').selectedIndex].value;
        let accNature = $js('accNature').options[$js('accNature').selectedIndex].text;
        var accCodeInit = null;
        let accCodeInitNode = $js('accCodeInit').firstElementChild;
        if (accCodeInitNode.tagName == 'INPUT') {
            accCodeInit = accCodeInitNode.value;
        }
        else if (accCodeInitNode.tagName == 'SELECT') {
            accCodeInit = accCodeInitNode.options[accCodeInitNode.selectedIndex].text;
        }
        let accCodeFirst = $js('accCodeFirst').value;
        let accCodeSecond = $js('accCodeSecond').value;
        let accTxt = $js('accTxt').value;
        if (accNature == '' || accNature == 'Choose Nature') {
            $('#notification').html("<h6>Select Nature</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            // alert('select Nature');
            return;
        }
        else if ($js('accCodeFirst').value == '') {
            $('#notification').html("<h6>Input Account Code</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        else if (parseInt($js('accCodeFirst').value) < accounts[accNatureCode].min || parseInt($js('accCodeFirst').value) > accounts[accNatureCode].max) {
            $('#notification').html("<h6>Code Must Between " + accounts[accNatureCode].min + " to " + accounts[accNatureCode].max + "</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            $js('accCodeFirst').focus();
            return;
        }
        else if ($js('accTxt').value == '') {
            $('#notification').html("<h6>Account Head Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        var accNumber = accCodeInit + "-" + accCodeFirst;
        if (accCodeSecond != '') {
            accNumber += "-" + accCodeSecond;
        }
        for (i = 0; i < dbAccounts.length; i++) {
            if (accNumber == dbAccounts[i].accCode) {
                $('#notification').html("<h6>Code Already Used in Another Account!</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
                $js('accCodeSecond').focus();
                return;
            }
        }
        let account = {
            nature: accNature,
            accCode: accNumber,
            accText: accTxt,
        }
        // Store
        db.child('accounts').push(account, function (error) {
            if (error) {
                $('#notification').html("<h6>Something Went Wrong in Database!</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            } else {
                $('#notification').html("<h6>Added Sucessfully</h6>").removeClass('w3-red').addClass('w3-green').fadeIn(200).delay(300).fadeOut(200);
                $js('nodata').style.display = "none";
                clearAccFields();
            }
        });
        // let comAccounts = lsExGJInit('comAccounts', []);
        // comAccounts.push(account);
        // lsSetJ('comAccounts', comAccounts);
        // clearAccFields();
        // location.reload();
        exitModel();
    });
    function clearAccFields() {
        $js('accNature').selectedIndex = 0;
        accCodeFirst.value = accCodeSecond.value = accTxt.value = "";
        let accCodeInitNode = $js('accCodeInit').firstElementChild;
        // if (accCodeInitNode.tagName == 'INPUT') {
        //     accCodeInitNode.value = "";
        // }
        // else if (accCodeInitNode.tagName == 'SELECT') {
        //     accCodeInitNode.selectedIndex = 0;
        // }
    }

    // Delete data
    function removeItem(e) {
        $js('confirmDel').style.display = 'block';
        $js('delAcBtn').addEventListener('click', function () {
            getRef('accounts').child(e.target.id).remove();
            $js('confirmDel').style.display = 'none';
            $('#notification').html("<h6>Deleted Sucessfully</h6>").removeClass('w3-red').addClass('w3-green').fadeIn(200).delay(300).fadeOut(200);
        });
    }

    function printAccounts() {
        $print("print");
        var ws = XLSX.utils.table_to_sheet(document.getElementById('accountsTable'), { cellDates: false });
        var wscols = [
            { wch: 4 },
            { wch: 24 },
            { wch: 12 },
            { wch: 40 }
        ];
        var wsrows = [
            {
                hpx: 24,
                level: 2
            }
        ];
        ws['!cols'] = wscols;
        ws['!rows'] = wsrows;
        XLSX.utils.book_append_sheet(wb, ws, 'Accounts');
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: false, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Accounts.xlsx');
    }
</script>