<div class="overlay-container">
    <div class="overlay">
        <div class="margin-auto clearfix" style="width: 99.5%; margin-bottom: 18px;">
            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font" style="float: left; margin-top: 1px;">{{title}}s</label>
            </section>
            <div class="w3-card-4 table-container">
                <div class="ch-table-header">
                    <div id="fixHead">
                        <table class="w3-table-all">
                            <thead>
                                <tr id="fixTr" class="main-bg-color">
                                    <th>Entry No</th>
                                    <th>Date</th>
                                    <th>Voucher No</th>
                                    <th>PS No</th>
                                    <th>SEQ No</th>
                                    <th>Party Code</th>
                                    <th>Party Name</th>
                                    <th>A/C Code</th>
                                    <th>A/C Name</th>
                                    <th>Dr/Cr</th>
                                    <th>Dr. Amount</th>
                                    <th>Cr. Amount</th>
                                    <th>Cost Center</th>
                                    <th>Description</th>
                                    <th>Primary Unit</th>
                                    <th>Quantity</th>
                                    <th>Primary Unit Price</th>
                                    <th>Standard Unit</th>
                                    <th>Pack Size</th>
                                    <th>No of Packs</th>
                                    <th>Total Quantity</th>
                                    <th>Standard Unit Price (TK)</th>
                                    <th>Total Price (TK)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="tab" onscroll="myFunction()" class="w3-responsive" style="height: calc(100vh - 190px);">
                        <table class="w3-table-all">
                            <tbody id="genTr" ng-repeat="jor in journal | orderBy : 'entryNo' : true track by $index">
                                <tr ng-repeat="deb in jor.debitCredit track by $index">
                                    <td>{{jor.entryNo}}</td>
                                    <td>{{numToDate(jor.date)}}</td>
                                    <td>{{jor.voucherNo}}</td>
                                    <td>{{jor.psNo}}</td>
                                    <td>{{jor.seqNo}}</td>
                                    <td>{{deb.partyCode}}</td>
                                    <td>{{deb.partyName}}</td>
                                    <td>{{deb.ACCode}}</td>
                                    <td>{{deb.ACName}}</td>
                                    <td>{{changerDC(deb.type)}}</td>
                                    <td>{{deb.drAmount}}</td>
                                    <td>{{deb.crAmount}}</td>
                                    <td>{{jor.costCenter}}</td>
                                    <td>{{jor.description}}</td>
                                    <td>{{jor.primaryUnit}}</td>
                                    <td>{{jor.primaryQuantity}}</td>
                                    <td>{{jor.primaryUnitPrice}}</td>
                                    <td ng-hide="deb.stdUnit">{{jor.stdUnit}}</td>
                                    <td ng-show="deb.stdUnit">{{deb.stdUnit}}</td>
                                    <td ng-hide="deb.packSize">{{jor.packSize}}</td>
                                    <td ng-show="deb.packSize">{{deb.packSize}}</td>
                                    <td ng-hide="deb.packs">{{jor.packs}}</td>
                                    <td ng-show="deb.packs">{{deb.packs}}</td>
                                    <td ng-hide="deb.unitQuantity">{{jor.totalQuantity}}</td>
                                    <td ng-show="deb.unitQuantity">{{deb.unitQuantity}}</td>
                                    <td ng-hide="deb.unitPrice">{{jor.stdUnitPrice}}</td>
                                    <td ng-show="deb.unitPrice">{{deb.unitPrice}}</td>
                                    <td ng-hide="deb.totalPrice">{{jor.totalPriceTK}}</td>
                                    <td ng-show="deb.totalPrice">{{deb.totalPrice}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="journal.length == 0" class="w3-pale-blue" style="padding: 12px; text-align: center;"><img
                                src="img/loader.gif" alt="Loading..." style="height: 25px; width: 25px;"></div>
                        <div ng-show="journal == null" class="w3-pale-blue" style="padding: 12px; text-align: center;">No
                            Data Found!</div>
                    </div>
                </div>
            </div>
            <!-- End of the Journy -->
            <!-- <table style="display: block;" class="w3-table w3-white w3-striped w3-border">
                <tr>
                    <th>Date</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
                <tr ng-repeat="(key, value) in journal | groupBy: 'date'">
                    <td>{{numToDate(intMk(key))}}</td>
                    <td>{{totalDrCr(value, 1)}}</td>
                    <td>{{totalDrCr(value, 2)}}</td>
                </tr>
            </table> -->
        </div>
    </div>
</div>
<script>
    function myFunction() {
        var n = document.getElementById("tab").scrollLeft;
        // console.log(n);
        $js('fixHead').style.marginLeft = "-" + n + "px";
    }
    // console.log($js('fixTr'));
    setTimeout(function () {
        $('#genTr tr:nth-child(1) td').each(function () {
            console.log($(this).outerWidth());
        });
    }, 3000);

//         $('table').on('scroll', function() {
//             console.log($("table").scrollLeft());


// //   $("table > *").width($("table").width() + $("table").scrollLeft());
// });
</script>