<div class="overlay-container">
    <div class="overlay">
        <div class="margin-auto" style="max-width: 900px; margin-top: 15px; margin-bottom: 15px;">
            <section class="clearfix">
                <label class="ch-title mian-color w3-large ex-font" style="float: left; margin-top: 8px;">{{title}}s</label>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-xlarge w3-circle w3-white circle-btn"
                    style="float: right;">+</button>
                <!-- <button class="w3-btn w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-edit"></i></button>
                                    <button class="w3-btn w3-xlarge w3-circle w3-white circle-btn"><i class="fa fa-print"></i></button> -->
            </section>
            <div class="w3-card-4 table-container">
                <div class="ch-table-header">
                    <table class="w3-table w3-striped w3-white chart-data-table">
                        <thead>
                            <tr class="main-bg-color">
                                <th>ID</th>
                                <th>Nature</th>
                                <th>A/C Code</th>
                                <th>Account Text</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="ch-table-content">
                    <table class="w3-table w3-striped w3-white chart-data-table">
                        <tbody>
                            <tr ng-repeat="comAcc in comAccounts track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{comAcc.nature}}</td>
                                <td>{{comAcc.accCode}}</td>
                                <td>{{comAcc.accText}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="div-box w3-light-gray w3-card-4 margin-auto">
            <div class="w3-container main-bg-color div-title">
                <h2>Payable</h2>
            </div>
            <div class="w3-container">
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:150px; padding: 10px;">
                        <label class="w3-medium">A/C Code</label>
                    </div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" type="text" name="" id="payACCode">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:150px; padding: 10px;">
                        <label class="w3-medium">Party Name</label>
                    </div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" type="text" name="" id="payPartyName">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:150px; padding: 10px;">
                        <label class="w3-medium">Party Type</label>
                    </div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" type="text" name="" id="payPartyType">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:150px; padding: 10px;">
                        <label class="w3-medium">Proprietor Name</label>
                    </div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" type="text" name="" id="payProprietor">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:150px; padding: 10px;">
                        <label class="w3-medium">Mobile No</label>
                    </div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border" type="text" name="" id="payMObileNo" onkeypress="numValidate(event)">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:150px; padding: 10px;">
                        <label class="w3-medium">Address</label>
                    </div>
                    <div class="w3-rest">
                        <textarea class="w3-input w3-border" name="" id="payAddress" rows="2"></textarea>
                    </div>
                </div>
                <p>
                    <button id="submitPayBtn" class="w3-btn main-bg-color div-title" style="float: right;">Submit</button>
                    <button onclick="clearPayFields()" class="w3-btn main-bg-color div-title" style="float: right; margin-right: 10px;">Clear</button>
                    <button onclick="printPayables()" class="w3-btn main-bg-color div-title" style="float: left; margin-right: 10px;">Print
                        All</button>
                </p>
                <div style="clear: both;height: 16px;"></div>
            </div>
        </div>
        <div class="w3-panel" style="display: none;">
            <table id="payableTable" class="w3-table w3-white w3-striped w3-border">
                <tr>
                    <th>ID</th>
                    <th>A/C Code</th>
                    <th>Party Name</th>
                    <th>Party Type</th>
                    <th>Proprietor Name</th>
                    <th>Mobile</th>
                    <th>Address</th>
                </tr>
                <tr ng-repeat="pay in comPayables track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{pay.acCode}}</td>
                    <td>{{pay.partyName}}</td>
                    <td>{{pay.partyType}}</td>
                    <td>{{pay.proprietor}}</td>
                    <td>{{pay.mobile}}</td>
                    <td>{{pay.address}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $('#payACCode').autocomplete({
        source: accountCodes,
        minLength: 0
    }).focus(function () {
        $(this).autocomplete("search");
    });
    $js('submitPayBtn').addEventListener('click', function () {
        var payACCode = $js('payACCode').value;
        var payPartyName = $js('payPartyName').value;
        var payPartyType = $js('payPartyType').value;
        var payProprietor = $js('payProprietor').value;
        var payMObileNo = $js('payMObileNo').value;
        var payAddress = $js('payAddress').value;
        var pay = {
            acCode: payACCode,
            partyName: payPartyName,
            partyType: payPartyType,
            proprietor: payProprietor,
            mobile: payMObileNo,
            address: payAddress
        };
        if (payACCode == "") {
            $('#notification').html("<h6>Account Code Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        else if (payPartyName == "") {
            $('#notification').html("<h6>Party Name Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        else if (payPartyType == "") {
            $('#notification').html("<h6>Party Type Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        else if (payProprietor == "") {
            $('#notification').html("<h6>Proprietor Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        else if (payMObileNo == "") {
            $('#notification').html("<h6>Mobile No Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        else if (payAddress == "") {
            $('#notification').html("<h6>Address Empty</h6>").removeClass('w3-green').addClass('w3-red').fadeIn(200).delay(1000).fadeOut(200);
            return;
        }
        $print(pay);
        var comPayables = lsExGJInit('comPayables', []);
        comPayables.push(pay);
        lsSetJ('comPayables', comPayables);
        clearPayFields();
        $('#notification').html("<h6>Added Sucessfully</h6>").removeClass('w3-red').addClass('w3-green').fadeIn(200).delay(300).fadeOut(200);
        location.reload();
    });

    function clearPayFields() {
        $js('payACCode').value = $js('payPartyName').value = $js('payPartyType').value = $js('payProprietor').value = $js('payMObileNo').value = $js('payAddress').value = "";
    }

    function printPayables() {
        $print("print");
        var ws = XLSX.utils.table_to_sheet(document.getElementById('payableTable'), { cellDates: true });
        // var wscols = [
        //     { wch: 4 },
        //     { wch: 12 },
        //     { wch: 20 },
        //     { wch: 20 },
        //     { wch: 14 },
        //     { wch: 40 }
        // ];
        // var wsrows = [
        //     {
        //         hpx: 24,
        //         level: 2
        //     }
        // ];
        // ws['!cols'] = wscols;
        // ws['!rows'] = wsrows;
        XLSX.utils.book_append_sheet(wb, ws, 'Payables');
        var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'binary' });
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Payables.xlsx');
    }
</script>